ul.tabs a.squalomail-section:hover {
    background-color: #D8E6E6;
    background-image: url(../../../images/tabs_link_over_bg.gif);
}

ul.tabs a.squalomail-section span,
ul.tabs a.squalomail-section:hover span {
    overflow: hidden;
    padding-left: 20px;
    background-size: contain;

}

ul.tabs a.squalomail-section.active, ul.tabs a.squalomail-section.active:hover {
    background: white;
    border-bottom-color: #8BA5A5;
}

h3.squalomail-header {
    height: 22px;
    overflow: hidden;
    padding-left: 20px;;
    background-size: contain;
}

fieldset#squalomail_general p.note a.sqm-link {
    background: url(../images/squalomail-ico.png) no-repeat left top;
    padding-left: 18px;
    padding-bottom: 4px;
}

.squalomail-nowarp {
    white-space: nowrap;
}

button.add span span, button.cancel span span, button.delete span span {
    background-image: none;
    padding-left: 0;
}

tr#row_squalomail_general_account_details ul {
    padding: 5px;
    color: #444;
    background-color: #fdfdfd;
    border: 1px solid #ccc;
}

/**
* Progress Bar
*/
.bar-all-rounded {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.bar-spacer {
    display: block;
}

#bar-progress-bar {
    width: 100px;
    margin: 0 auto;
    background: #CCC;
}

#bar-progress-bar-percentage {
    background: #3063A5;
    padding: 2px 0px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
}

/**
* Progress Bar
*/

div.squalomail-notice {
    background: #EAF0EE;
    border: 1px solid #CCCCCC;
    margin-bottom: 10px;
    padding: 11px 0 0 10px;
}

.squalomail-image {
    margin: 0 0 4px 10px;
}

textarea#squalomail_general_interest_success_before, textarea#squalomail_general_interest_success_after {
    height: 5em;
}
